[submodule "chainmaker-archive-service"]
	path = chainmaker-archive-service
	url = https://git.chainmaker.org.cn/chainmaker/chainmaker-archive-service.git
[submodule "chainmaker-go"]
	path = chainmaker-go
	url = https://git.chainmaker.org.cn/chainmaker/chainmaker-go.git
[submodule "sdk-go"]
	path = sdk-go
	url = https://git.chainmaker.org.cn/chainmaker/sdk-go.git
