.idea
.vscode
.idea/
.vscode/
testdatas/
build/  
index_data/ 
system_info/
chainmaker-archive-service
log/
compress_data/
decompress_data/
block_data/
client-tools/client-tools
client-tools/log 
client-tools/admin1.key
client-tools/sdk_config.yml
bfdb-clean-tools/bfdb
bfdb-clean-tools/bfdb-clean-tools 
bfdb-clean-tools/*.csv
bfdb-clean-tools/*.result
client-tools/testdata
src/cover.out